app/src/main/persons.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<xs:schema xmlns:tns="http://servicio.jaxws.trapasoft.es/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servicio.jaxws.trapasoft.es/"
    version="1.0">

    <xs:element name="getPersona" type="tns:getPersona" />

    <xs:element name="getPersonaResponse" type="tns:getPersonaResponse" />

    <xs:element name="getPersonas" type="tns:getPersonas" />

    <xs:element name="getPersonasByDept" type="tns:getPersonasByDept" />

    <xs:element name="getPersonasByDeptResponse" type="tns:getPersonasByDeptResponse" />

    <xs:element name="getPersonasResponse" type="tns:getPersonasResponse" />

    <xs:complexType name="getPersonasByDept">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getPersonasByDeptResponse">
        <xs:sequence>
            <xs:element name="return" maxOccurs="unbounded" minOccurs="0" type="tns:persona" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="persona">
        <xs:sequence>
            <xs:element name="city" minOccurs="0" type="xs:string" />
            <xs:element name="deptID" type="xs:int" />
            <xs:element name="firstName" minOccurs="0" type="xs:string" />
            <xs:element name="ID" type="xs:int" />
            <xs:element name="lastName" minOccurs="0" type="xs:string" />
            <xs:element name="phoneNumber" minOccurs="0" type="xs:string" />
            <xs:element name="street" minOccurs="0" type="xs:string" />
            <xs:element name="zipCode" minOccurs="0" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getPersonas">
        <xs:sequence>
            <xs:element name="arg0" minOccurs="0" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getPersonasResponse">
        <xs:sequence>
            <xs:element name="return" maxOccurs="unbounded" minOccurs="0" type="tns:persona" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getPersona">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getPersonaResponse">
        <xs:sequence>
            <xs:element name="return" minOccurs="0" type="tns:persona" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>