app/src/main/persons.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://servicio.jaxws.trapasoft.es/"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="PersonServiceService" targetNamespace="http://servicio.jaxws.trapasoft.es/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://servicio.jaxws.trapasoft.es/"
                schemaLocation="http://ws-trapasoft.rhcloud.com:80/JAXWSServer/persons?xsd=1" />
        </xsd:schema>
    </types>
    <message name="getPersonasByDept">
        <part name="parameters" element="tns:getPersonasByDept" />
    </message>
    <message name="getPersonasByDeptResponse">
        <part name="parameters" element="tns:getPersonasByDeptResponse" />
    </message>
    <message name="getPersonas">
        <part name="parameters" element="tns:getPersonas" />
    </message>
    <message name="getPersonasResponse">
        <part name="parameters" element="tns:getPersonasResponse" />
    </message>
    <message name="getPersona">
        <part name="parameters" element="tns:getPersona" />
    </message>
    <message name="getPersonaResponse">
        <part name="parameters" element="tns:getPersonaResponse" />
    </message>
    <portType name="PersonService">
        <operation name="getPersonasByDept">
            <input
                message="tns:getPersonasByDept"
                wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonasByDeptRequest" />
            <output
                message="tns:getPersonasByDeptResponse"
                wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonasByDeptResponse" />
        </operation>
        <operation name="getPersonas">
            <input message="tns:getPersonas"
                wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonasRequest" />
            <output
                message="tns:getPersonasResponse"
                wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonasResponse" />
        </operation>
        <operation name="getPersona">
            <input message="tns:getPersona"
                wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonaRequest" />
            <output
                message="tns:getPersonaResponse"
                wsam:Action="http://servicio.jaxws.trapasoft.es/PersonService/getPersonaResponse" />
        </operation>
    </portType>
    <binding name="PersonServicePortBinding" type="tns:PersonService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="getPersonasByDept">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getPersonas">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getPersona">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="PersonServiceService">
        <port name="PersonServicePort" binding="tns:PersonServicePortBinding">
            <soap:address location="http://ws-trapasoft.rhcloud.com:80/JAXWSServer/persons" />
        </port>
    </service>
</definitions>